*{
    margin: 0;
    padding: 0;
}
body{
    background-color: blue;
}

.main{
    background-color: rgb(68, 68, 156);
    margin: calc(25% + 100px);
	margin-top: 70px;
	margin-bottom: 30px;
    border-radius: 30px;
    padding: 50px;
    text-align: center;
    padding-bottom: 30px;;

}
button{
    width: 80%;
    padding: 10px;
    margin-left: 50px;
    background-color:black;
    border: none;
    transition: all 0.4s linear;
    color: white;
    margin-top: 10px;
    margin-left: 5%;
}
button:hover{
    background-color:rgb(0, 0, 0,0.1);
    color: black;
    border-radius: 25px;
    border: black solid 3px;
}